## Введение в Python. Целые и вещественные числа. Логические переменные.

# Функция `print()`

С помощью Python можно решать огромное количество задач. Мы начнем с очень простых и постепенно будем их усложнять, закончив наш курс небольшим проектом. Если вы уже сталкивались с программированием, то вы помните, что обычно самой первой программой становится вывод "Hello, world". Попробуем сделать это в Python.

In [1]:
print('Hello, world!')

Hello, world!

Обратите внимание, что `"Hello, world!"` мы написали в кавычках, а единицу - нет. Это связанно с тем,
что в программировании мы имеем дело с разными типами данных. И `Python` будет воспринимать текст как текст (строковую переменную), только в том случае, если мы его возьмем в кавычки (неважно, одинарные или двойные). А при выводе эти кавычки отображаться уже не будут (они служат знаком для `Python`, что внутри них - текст).

`print()` - это функция, которая выводит то, что мы ей передадим. В других IDE это был бы вывод в терминал, а в `Jupyter` вывод напечатается под запускаемой ячейкой. Распознать функцию в питоне можно по скобкам после слова, внутри которых мы передаем аргумент, к которому эту функцию нужно применить (текст `"Hello, world"` или `1` в нашем случае).

In [2]:
print(Hello, world)

NameError: name 'Hello' is not defined

Написали без кавычек - получили ошибку. Кстати, обратите внимание, что очень часто в тексте ошибки есть указание на то, что именно произошло, и можно попробовать догадаться, что же нужно исправить. Текст без кавычек `Python` воспринимает как название переменной, которую еще не задали. Кстати, если забыть закрыть или открыть кавычку (или поставить разные), то тоже поймаем ошибку.


Иногда мы хотим комментировать наш код, чтобы я-будущий или наши коллеги поменьше задавались вопросами, а что вообще имелось ввиду. Комментарии можно писать прямо в коде, они не повлияют на работу программы, если их правильно оформить.

In [ ]:
# Обратите внимание: так выглядит комментарий - часть скрипта, которая не будет исполнена 
# при запуске программы.
# Каждую строку комментария мы начинаем со знака хэштега.

'''
Это тоже комментарий - обычно выделение тремя апострофами мы используем для тех случаев, 
когда хотим написать длинный, развернутый текст.
'''

print('Hello, world')

Hello, world

Обратите внимание, что в отличие от других `IDE` (например, `PyCharm`) в `Jupyter Notebook` не всегда обязательно использовать `print()`, чтобы что-то вывести. Но не относитесь к этому как к стандарту для любых `IDE`.

In [5]:
print("Hello, world")
print("hi")

Hello, world
hi

Выше рядом с выводом появилась подпись `Out[]`. В данном случае `Jupyter` показывает нам последнее значение, лежащее в буфере ячейки. Например, в PyCharm такой вывод всегда будет скрыт, пока мы его не "напечатаем" с помощью `print()`. Но эта особенность `Jupyter` помогает нам быстро проверить, что, например, находится внутри переменной, когда мы отлаживаем наш код.

Следующая вещь, которую нужно знать про язык программирования - как в нем задаются переменные. Переменные - это 
контейнеры, которые хранят в себе информацию (текстовую, числовую, какие-то более сложные виды данных). В `Python`
знаком присвоения является знак `=`.

In [2]:
x = 'Hello, world!'
print(x)    # Обратите внимание, что результат вызова этой функции такой же, как выше, 
            # только текст теперь хранится внутри переменной.

Hello, world!

In [3]:
type(x)

str

`Python` -  язык чувствительный к регистру. Поэтому, когда создаете/вызываете переменные или функции, обязательно используйте правильный регистр. Так, следующая строка выдаст ошибку.

In [ ]:
print(X) # мы создали переменную x, а X не существует

NameError: ignored

Еще раз обратим внимание на ошибку. *NameError: name 'X' is not defined* означает, что переменная с таким названием не была создана в этой программе. Кстати, обратите внимание, что переменные в Jupyter хранятся на протяжении всей сессии (пока вы работаете с блокнотом и не закрыли его), и могут быть созданы в одной ячейке, а вызваны в другой. Давайте опять попробуем обратиться к `x`.

In [ ]:
print(x) # работает!

Hello, world!

# Типы данных: целочисленные переменные (integer)

Знакомство с типа данных мы начнем с целых чисел. Если вы вдруг знакомы с другими языками программирования, то стоит отметить, что типизация в `Python` - динамическая. Это значит, что вам не нужно говорить какой тип данных вы хотите положить в переменную - `Python` сам все определит. Проверить тип данных можно с помощью функции `type()`, передав ей в качестве аргумента сами данные или переменную.

**ЦЕЛЫЕ ЧИСЛА (INT, INTEGER):** 1, 2, 592, 1030523235 - любое целое число без дробной части.

In [6]:
type(22345678946375892347)

int

In [7]:
y = 22345678946375892347
print(type(2))
print(type(y))

<class 'int'>
<class 'int'>

Обратите внимание - выше мы вызвали функцию внутри функции. 
`type(2)` возвращает скрытое значение типа переменной (`int` для `integer`). 
Чтобы вывести это скрытое значение - мы должны его "напечатать".

Самое элементарное, что можно делать в `Python` - использовать его как калькулятор. Давайте посмотрим, как
он вычитает, складывает и умножает.

In [4]:
print(2 + 2)
print(18 - 9)
print(4 * 3)

4
9
12

С делением нужно быть немного осторожней. Существует два типа деления - привычное нам, которое даст в ответе дробь при делении 5 на 2, и целочисленное деление, в результате которого мы получим только целую часть частного.

In [8]:
print(5 / 2)  # в результате такого деления получается другой тип данных (float), подробнее о нем поговорим позже.

2.5

In [9]:
print(5 // 2)

2

А если нам надо как раз найти остаток от деления, то мы можем воспользоваться оператором модуло %

In [ ]:
print(5 % 2)

1

Еще одна математическая операция, которую мы можем выполнять без загрузки специальных математических библиотек - это
возведение в степень.

In [ ]:
print(5 ** 2)

25

Все то же самое работает и с переменными, содержащими числа.

In [ ]:
a = 2
b = 3
print(a ** b)
# изменится ли результат, если мы перезапишем переменную a?
a = 5
print(a ** b)

8
125

In [11]:
a = 5
b = 1.2

a / b

4.166666666666667

In [17]:
6 + (4 * 2) ** 3

518

In [15]:
2 ** 3

8

In [16]:
4 * 8

32

Часто возникает ситуация, что мы считали какие-то данные в формате текста, и у нас не работают арифметические операции. Тогда мы можем с помощью функции `int()` преобразовать строковую переменную (о них ниже) в число, если эта строка может быть переведена в число в десятичной системе.

In [12]:
print(2 + '5') # ошибка, не сможем сложить целое число и строку

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
float('5')

5.0

In [23]:
str(5.)

'5.0'

In [19]:
print(2 + int('5')) # преобразовали строку в число и все заработало

7

In [20]:
int('текст') # здесь тоже поймаем ошибку, потому что строка не представляет собой число

ValueError: invalid literal for int() with base 10: 'текст'

## Home tasks

## Task #1

### Сумма цифр трехзначного числа

Дано трехзначное число 179. Найдите сумму его цифр.

**Формат вывода**  
Выведите ответ на задачу.

**Ответ**  
Вывод программы:  
17

In [34]:
# code
n = int (input ('n='))
# давайте назовем три цифры a ,b ,c
# n = ( a+b+c) 
# ищем a, b,c 
a = n % 10 
n = n // 10 
b = n % 10 
n = n// 10 
c = n % 10 
c = n 
 

print ( a + b + c)

n=179
17

# Task #2

### Электронные часы

Дано число N. С начала суток прошло N минут. Определите, сколько часов и минут будут показывать электронные часы в этот момент.

**Формат ввода**  

Вводится число N — целое, положительное, не превышает 10⁷.

**Формат вывода**

Программа должна вывести два числа: количество часов (от 0 до 23) и количество минут (от 0 до 59).

Учтите, что число N может быть больше, чем количество минут в сутках.

#### Примеры

Тест 1  
**Входные данные:**  
150

**Вывод программы:**  
2 30

# Your code

In [38]:
n = int ( input ('n')) 
n = n % 1440 
print (n // 60 , n % 60)

n1400
23 20